semiconductor:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: oauth
      project: "{{ env_var('GCP_PROJECT_ID') }}"
      dataset: global_semiconductor_industry
      location: EU
      threads: 1
      job_execution_timeout_seconds: 300
