POSTGRES_DB=kestra
POSTGRES_USER=kestra
POSTGRES_PASSWORD=<postgres-password>

KESTRA_BASIC_AUTH_USERNAME=<username> # Must be an email address
KESTRA_BASIC_AUTH_PASSWORD=<password>

# BigQuery dataset name. Must match `bq_dataset_name` in terraform/variables.tf.
GCP_DATASET=global_semiconductor_industry
